.footer__column_content_copyright {
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_social {
  flex-direction: column;
}

.footer__column_content_info{
  flex-direction: column;
}
