.resources__logo_image_arzamas {
  content: url(../../../../images/sprint-2-sources/images_sprint-2/logo/resources-arzamas.svg);
}

.resources__logo_image_n1 {
  content: url(../../../../images/sprint-2-sources/images_sprint-2/logo/resources-n1.svg);
}

.resources__logo_image_strelka {
  content: url(../../../../images/sprint-2-sources/images_sprint-2/logo/resources-strelka.svg);
}

.resources__logo_image_polka {
  content: url(../../../../images/sprint-2-sources/images_sprint-2/logo/resources-polka.svg);
}
