.footer__social-icon_image_fb{
  flex-direction: row;
}

.footer__social-icon_image_fb::before {
  height: 16px;
  width: 16px;
  padding-right: 10px;
  content: url('../images/facebook_color_white.svg');
}

.footer__social-icon_image_vk{
  flex-direction: row;
}

.footer__social-icon_image_vk::before {
  content: url(../images/vk_color_white.svg);
  height: 16px;
  width: 16px;
  padding-right: 10px;
}

.footer__social-icon_image_in{
  flex-direction: row;
}

.footer__social-icon_image_in::before {
  content: url(../images/instagram_color_white.svg);
  height: 16px;
  width: 16px;
  padding-right: 10px;
}
